.Img-1 {
  display: inline-block;
  flex: 1 0 25%;
  height: 300px;
  background-image: url("../img/5.jpeg");
  background-size: cover; }

.Img-2 {
  display: inline-block;
  flex: 1 0 25%;
  height: 300px;
  background-image: url("../img/6.jpg");
  background-size: cover; }

.Img-3 {
  display: inline-block;
  flex: 1 0 25%;
  height: 300px;
  background-image: url("../img/7.jpg");
  background-size: cover; }

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200; }

body {
  height: 100%;
  background: #fff; }
  body .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column; }
  body .container {
    width: 1800px;
    margin: 0 auto; }
    body .container header {
      background-image: url(../img/4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0% 50% 50% 0%;
      width: 1500px;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 140px;
      display: flex;
      flex-direction: column; }
      body .container header p {
        font-size: 30px;
        color: #f0f0f2;
        padding-top: 240px;
        width: 740px;
        text-align: center;
        margin: 0 auto; }
      body .container header button {
        align-self: center;
        width: 165px;
        height: 60px;
        background: transparent;
        border-color: #f0f0f2;
        color: #f0f0f2;
        border-width: 1px;
        opacity: 0.6;
        margin-top: 80px; }
      body .container header ul {
        display: flex;
        padding-top: 40px;
        padding-left: 50px; }
        body .container header ul li {
          list-style-type: none;
          margin-right: 40px;
          text-align: center;
          font-size: 20px;
          font-family: 'Hind', sans-serif; }
          body .container header ul li a {
            text-decoration: none;
            color: #2c2638; }
    body .container section {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column; }
      body .container section h2 {
        align-self: center;
        font-size: 40px; }
      body .container section .container-item {
        display: flex;
        width: 900px;
        align-self: center;
        box-shadow: 0px 0px 10px 0px #9f86b4;
        margin-top: 40px; }
        body .container section .container-item .description {
          width: 650px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .container section .container-item .description h3 {
            color: #9f86b4;
            font-size: 30px;
            text-align: center; }
          body .container section .container-item .description p {
            color: #693968;
            font-size: 16px;
            padding: 0px 20px 0px 20px; }
      body .container section .review {
        background: #8a6f8d;
        width: 1500px;
        align-self: center;
        margin-top: 40px;
        padding: 15px; }
        body .container section .review h3 {
          color: #b980a7;
          font-size: 30px;
          text-align: center;
          padding: 10px; }
        body .container section .review .rew-main {
          display: flex;
          justify-content: space-around; }
          body .container section .review .rew-main .review-item {
            background: #987b9c;
            width: 485px;
            display: flex;
            justify-content: space-around; }
            body .container section .review .rew-main .review-item img {
              width: 90px;
              height: 90px;
              border-radius: 80%;
              padding: 10px; }
            body .container section .review .rew-main .review-item p {
              color: #fff;
              padding: 10px; }
              body .container section .review .rew-main .review-item p span {
                font-style: italic; }
      body .container section .own-tour {
        background: #9f86a2;
        align-self: center;
        margin-top: 40px;
        padding-bottom: 15px;
        width: 1000px; }
        body .container section .own-tour h3 {
          color: #2c2638;
          font-size: 30px;
          text-align: center;
          padding: 10px; }
        body .container section .own-tour form {
          display: flex;
          justify-content: space-around;
          padding: 10px;
          margin: 0 auto;
          width: 900px; }
          body .container section .own-tour form input, body .container section .own-tour form select {
            width: 150px;
            background: transparent;
            border-style: none;
            border-bottom-style: groove;
            border-color: #31262c;
            color: #31262c; }
    body .container footer {
      display: flex;
      background: #5d3d85;
      margin-top: 40px;
      justify-content: space-between;
      padding-bottom: 40px; }
      body .container footer .follow-us {
        display: flex;
        flex-direction: column;
        padding: 0px 30px 0px 30px;
        width: 550px; }
        body .container footer .follow-us:nth-child(2) {
          flex-basis: 200px; }
        body .container footer .follow-us:nth-child(3) {
          flex-basis: 200px; }
        body .container footer .follow-us h4 {
          font-weight: bold;
          font-size: 18px;
          color: #b965fe;
          padding: 20px 0px 20px 0px; }
        body .container footer .follow-us .img-app {
          display: flex;
          width: 250px;
          justify-content: space-between; }
          body .container footer .follow-us .img-app img {
            width: 50px;
            height: 50px; }
        body .container footer .follow-us p {
          width: 600px;
          padding-top: 30px;
          color: #520a5e;
          font-weight: 400; }
        body .container footer .follow-us li {
          list-style: none; }
          body .container footer .follow-us li a {
            text-decoration: none;
            color: #8a46de;
            font-weight: 400; }
        body .container footer .follow-us form {
          display: flex;
          flex-direction: column;
          padding-top: 40px; }
          body .container footer .follow-us form input, body .container footer .follow-us section .own-tour form select, body .container section .own-tour footer .follow-us form select {
            margin-top: 20px;
            height: 30px; }
          body .container footer .follow-us form input[type="button"], body .container footer .follow-us section .own-tour form select[type="button"], body .container section .own-tour footer .follow-us form select[type="button"] {
            background: #4f0a5e;
            color: #fff;
            border-style: none; }
          body .container footer .follow-us form label {
            font-size: 18px;
            font-weight: bold; }
