* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.app-container {
    display: flex;
    height: 100vh;
    background-color: #12181B;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.display{
    margin: 1em 0;
    font-size: 25px;
    text-align: center;
    color: white;
}

.hide {
    display: none;
}

/* Game */

.title {
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
    color: white;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    outline: 1px solid white;
    font-size: 50px;
    cursor: pointer;
}

.tile.active {
    background-color: #a09d9d;
}

.playerX {
    color: #17c988;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    margin-left: 1em;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

/* Avatars */

.avatar {
    display: flex;
    flex-direction: column;
}

.avatar span {
    font-size: 35px;
}

.avatar-container {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 5px rgba(230, 190, 190, 0.5);
    background-color: #fff;
}

.icons {
    display: inherit;
    margin-bottom: 25px;
}

.avatar-icon {
    width: 75px;
    height: 75px;
}
