
.header-bg{
   background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
   
}
.text{
    font-family: 'Open Sans', sans-serif;
    
}
.bg-color{
    background: #f8f9fa;
}
.product{
    background: #fff;
}
