body, h1,h2,h3,h4,h5,h6,p,li,ul{
    margin: 0;
    padding: 0; 
}
body{
    background: #fff;
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
    min-width: 1100px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   max-width: 90vw;
   
}
/*NAV-BAR*/
.logo-nav{
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
.logo-nav img{
    width: 105px;
    height: 23px;
}

.Order-now{
    width: 210px;
    height: 40px;
    border-radius: 10px;
    background:  #079FD0;
    border-style: none;
    margin-left: auto; 
    color: #fff;
    cursor: pointer;
}

.menu li{
    display: inline;
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
    flex-basis: 200px;
    font-size: 12px;
}
.menu a{
    display: block;
     color: #000;
    text-decoration: none;
}
/*HEADER*/
header{
    height: 100vh;
    display: flex;
}
.header-img{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 110px;
    height: 85vh;
    width: 68vw;
    background: #C4C4C4AD;
}
.header-img h1{
    font-weight: lighter;
    font-size: 35vh;
    padding-top: 4vh;
   
}
.header-img h2{
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1.5px;
}
.header-img p{
    color: #fff;
    padding: 20px 0px 70px 0px;
    line-height: 20px;
}
.main-img{
    position: absolute;
   align-self: center;
    right: 20px;
    width: 40vw;
    height: 55vh;
}

/*MAIN SECTION*/
section{
   margin-top: 80px; 
}
.section-1 {
    display: flex;
    height: 450px;
 
}
.section-2{
    display: flex;
    height: 450px;
    justify-content: flex-end;
   margin-top: 80px;
}
.img_cat{
    width: 660px;
}
.section-descrip-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 220px;
    margin-left: 120px;
}
.section-descrip-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 220px;
    margin-right:120px;
}
.title{
    color: #079FD0;
    font-size: 30px;
    word-spacing: 3px;
    font-weight: lighter;
}
.description{
    line-height: 3.5vh;
    letter-spacing: 0.2px;
    font-size: 2.4vh;
}
.learn-more{
  color: #079FD0;
  text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;

}
.robot-can{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.additionally{
    width: 25vw;
    display: flex;
    flex-direction: column;
    
}
.robot-img{
    width: 25vw;
}
.section-can h2{
    text-align: center;

}
.robot-descrip{
    height: 240px;
    width: 260px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-robot{
    color: #079FD0;
    font-size: 24px;
    word-spacing: 3px;
    font-weight: lighter;
}
.p-discrip{
    line-height: 26px;
    word-spacing: 1px;
    
}
/*FOOTER*/
footer{
    margin-top: 80px;
    background: #C4C4C433;
    padding-bottom: 30px;
}
.footer-flex{
   padding-top: 60px;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-list li{
    list-style: none;
    margin-bottom: 20px;
}

.footer-list a{
    text-decoration: none;
    color: #000;
}
.footer-logo{
    width: 120px;
}
.footer-item p{
    font-weight: bold;
}


