.tm-content-box, .tm-main-nav  {
    box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
    
}
.tm-banner{
    background: #f5f5f5;
}
.tm-banner-inner{
    background: white;
}
.tm-nav-item-link:hover{
    background: #87CEFA;
    color: white;
    
}
.color-blue {
    color: #87CEFA;
}
#main p:first-letter{
    color: #87CEFA;
    font-size: 2em;
}
.section-title{
    font-weight: bold; 
    color: #87CEFA;
}

#main{
    display: flex;
    align-items: center;
}

#main img{
    width: 100%;
}
.tm-team-description-container{
    width: 37%;
}
.tm-section-title-box:hover{
    background: #87CEFA;
    transition-duration: .5s;
    font-weight: bold;
    color: white;
}

section:before{
    content: "";
    position:absolute;
    display: block; 
    height: 35px; 
    width: 100%; 
    border-bottom: solid 40px transparent;
    border-left: solid 250px #00acc7;  
}
#we-are h2{
    text-transform: capitalize;
    text-align: center;
}
#we-are ol{
    display: flex;
    justify-content: center;
}
#we-are li{
    list-style-type: none;
    margin-left: 40px;
}
#we-are a{
    text-decoration: none;
    font-weight: 400;   
}
#we-are a:visited{
   text-decoration: underline;
}

#our-work p:first-of-type{
   font-style: italic;
}
#our-work .tm-team-description-container{
    width: 500px;
}
#our-work p:nth-of-type(2){
    font-weight: bold;
}
.box-work h2{
    font-weight: bold;
    margin-top: 10px;
}
.box-work{
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.boxes{
    display: flex;
    justify-content: space-around;
}
.boxes p{
    height: 70px;
    width: 360px;
    font-size: 14.6px;
}
   
.link{
    color: #87CEFA;
    align-content: flex-end;
    margin-bottom: 25px;
}
#ideas h2{
    letter-spacing: 5px;
    color: gainsboro;
}
.mandatory-field::after {
    content: "*";
    color: red;
    font-weight:bold;
}
.btn{
    display: inline;
    float: right;
    background: white;
    color: #87CEFA;
    border-radius: 0px;
    width: 140px;
    height: 50px;
    border-color: #87CEFA;
}
.btn:hover{
    color: white;
    background: #87CEFA;
    border-color: #87CEFA;
}
/* media for print*/
@media print {
    body{
        margin: 0px;
        padding: 0px;
    }
    .tm-team-description-container{
      display: inline;
        text-align: center;
       width: 1200px;
    }
  
    #main {
      display: block;
    }
    .section-title{ 
    font-weight: 400;
    color: darkblue;
    
    }
    #main p:first-letter{
    font-size: 1.5em;
    color: black;
        
    }
    #main img{
    height: 400px;
    }
    .color-blue {
    color: black;
    }
    section:not(#we-do){
    display: none;
    }
    .tm-sidebar,#about{
        display: none;
    }
      section::before{
        display: none;
    }
}