@mixin headerImg{
    background-image: url(#{$hederIMG});
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0% 50% 50% 0%;
    width: 1500px;
}
@each $names, $image in $Images{
    .#{$names}{
        display: inline-block;
        flex: 1 0 25%;
        height: 300px;
        background-image: $image;
       background-size: cover;
    
    }
}
body, ul, li, p, h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
body {
    height: 100%;
    background: $contentBackground;
    
    .wrapper{
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
.container{
    width: 1800px;
    margin: 0 auto;
    
header{
            @include headerImg;
            margin: 0 auto;
            width: 100%;
            padding-bottom: 140px;
            display: flex;
            flex-direction: column;
p{ 
    font-size: 30px;
    color: $colorTitle;
    padding-top: 240px;
    width: 740px;
    text-align: center;
    margin: 0 auto;
    
}
button{
        align-self: center;
        width: 165px;
        height: 60px;
        background:transparent;
        border-color: $colorTitle;
        color: $colorTitle;
        border-width: 1px;
        opacity: 0.6;
        margin-top: 80px;
    }
ul{
    display: flex;
    padding-top: 40px;
    padding-left: 50px;
    
li{
    list-style-type: none;
    margin-right: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
       a{
        text-decoration: none;
        color: $ulcolor;
        }
        }
    }
    }
    section {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        h2{
            align-self: center;
            font-size: 40px;
        }
        .container-item{
            display: flex;
            width: 900px;
            align-self: center;
            box-shadow: 0px 0px 10px 0px $colorTitle1;
            margin-top: 40px;
            .description{
             width: 650px;
             display: flex;
            flex-direction: column;
            justify-content: center;
            
            h3{
                color: $colorTitle1;
                font-size: 30px;
                text-align: center;
            }
            p{
                color:$colorParag;
                font-size: 16px;
                padding: 0px 20px 0px 20px;


            }
            }}
        .review{
            background: $bgcolor;
            width: 1500px;
           align-self: center;
            margin-top: 40px;
            padding: 15px;
            h3{
                color: $textcolor;
                font-size: 30px;
                text-align: center;
                padding: 10px;
            }
            .rew-main{
                display: flex;
                justify-content: space-around;
                .review-item{
                    background: $bgcolor2;
                    width: 485px;
                    display: flex;
                    justify-content: space-around;
                    
                    img{
                width: 90px;
                height: 90px;
                border-radius: 80%;
                padding: 10px;
                        
                    }
                p{
                    color: $contentBackground;
                    padding: 10px;
                    span{
                        font-style: italic;
                    }
                }
            }
            }
        }
        .own-tour{
            background: $bgcolor3;
            align-self: center;
            margin-top: 40px;
            padding-bottom: 15px;
            width: 1000px;
            
            h3{
                color: $ulcolor;
                font-size: 30px;
                text-align: center;
                padding: 10px;
                
            }
            form{
                display: flex;
                justify-content: space-around;
                padding: 10px;
                margin: 0 auto;
                width: 900px;
                input{
                    width: 150px;
                    background:transparent;
                    border-style: none;
                    border-bottom-style: groove;
                    border-color: $colorline;
                    color: $inputcolor;
    
                }
                  select{
                    @extend input;
                    
                }
        } 
        
         }
    }  
    footer{
        display: flex;
        background: $bgfooter;
        margin-top: 40px;
        justify-content: space-between;
        padding-bottom: 40px;
        
          
        .follow-us{
           display: flex;
           flex-direction: column;
            padding: 0px 30px 0px 30px;
            width: 550px;
            
            &:nth-child(2){
            flex-basis: 200px;
        }
            &:nth-child(3){
            flex-basis: 200px;
        }
            h4{
                font-weight: bold;
                font-size: 18px;
                color: $h4color;
                padding: 20px 0px 20px 0px;
            }
            .img-app{
                display: flex;
                width: 250px;
                justify-content: space-between;
                
                img{
                    width: 50px;
                    height: 50px;
                    
                }
                
            }   
           p{
               width: 600px;
               padding-top: 30px;
               color: $footerP;
               font-weight: 400;
               
               
                }
            li{
               list-style: none;
                
                a{
                text-decoration: none;
                color: $footerLi;
                font-weight: 400;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                padding-top: 40px;
                input{
                    margin-top: 20px;
                    height: 30px;
                }
                input[type="button"]{
                    background: $footerbutton;
                    color: $contentBackground;
                    border-style: none;
                }
                label{
                    font-size: 18px;
                    font-weight: bold;
                     
                }
            }
        }
    }
}

}




