$contentBackground: #fff;
$ulcolor: #2c2638;
$colorTitle: #f0f0f2;
$hederIMG: '../img/4.jpg';
$colorTitle1: #9f86b4;
$colorParag: #693968;
$Images:(
    Img-1: url('../img/5.jpeg'),
    Img-2: url('../img/6.jpg'), 
    Img-3: url('../img/7.jpg'));
$bgcolor: #8a6f8d;
$textcolor: #b980a7;
$bgcolor2: #987b9c;
$bgcolor3: #9f86a2;
$inputcolor: #31262c;
$colorline: #31262c;
$bgfooter: #5d3d85;
$h4color: #b965fe;
$footerP: #520a5e;
$footerLi: #8a46de;
$footerbutton: #4f0a5e;