$contentBackground: #fff;
$ulcolor: #ddd;
$colorTitle: #ddd;
$hederIMG: '../img/0.jpg';
$colorTitle1: #8695a2;
$colorParag: #263663;
$Images:(
    Img-1:url('../img/1.jpg'),
    Img-2:url('../img/2.jpg'), 
    Img-3:url('../img/3.jpg'));
$bgcolor: #8d6f79;
$textcolor: #b59bb0;
$bgcolor2: #a88390;
$bgcolor3: #8695a2;
$inputcolor: #5e6872;
$colorline: #5e6872;
$bgfooter: #3d5585;
$h4color: #659afe;
$footerP: #131d45;
$footerLi: #467ade;
$footerbutton: #0a275e;