body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #5fb8af;
}
.container{
    margin: 0 auto;
    height: 90vh;
}
.title{
   display: flex;
    justify-content: center;
    font-size: 50px;
    color: wheat;
    text-shadow: 7px 4px 20px wheat;
    
}
#input-field{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 450px;
    width: 360px;
   
  
}

.tile {
    /* Box */
    border: 2px solid wheat;
    width: 60px;
    height: 60px;
    margin: 4px;

    /* Text */
    color: wheat;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: wheat;
    border-color: wheat;
}

.present {
    background-color: #C9B458;
    color: wheat;
    border-color: wheat;
}

.absent {
    background-color: #787C7E;
    color: wheat;
    border-color:wheat;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn button{
    width: 170px;
    height: 50px;
    background: wheat;
    border: none;
    border-radius: 55px;
   
    font-size: 18px;
    color: #5fb8af;
}
#reset{
    margin-left: 10px;
}
.btn button:hover{
    box-shadow: 0px 10px 50px wheat;
    transition-delay: 0.2s;
}