body{
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 600px;
}
.click-me {
display: flex;
justify-content: center;
margin-top: 100px;
}
.click-me-btn{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background: #2285a3;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.btn button{
    background: yellow;
    border-radius: 3px;
}
#nickname{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}